services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  create-dbs:
    image: postgres
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./local-dev:/scripts
    command: bash /scripts/init.sh

volumes:
  pg-data: