server:
  port: 8090
spring:
  application:
    name: gateway
gateway:
  services:
    order-service-url: http://localhost:8081
    restaurant-service-url: http://localhost:8000
    customer-service-url: http://localhost:8002
management:
  observations:
    annotations:
      enabled: true
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
